{:port 3000
 :nrepl-port 7000
 :production true
 :grobid-ref "http://52.170.38.218:8080/processReferences"
 :grobid-hed "http://52.170.38.218:8080/processHeaderDocument"
 :bing-key "2a493356fd824c84818eb80581c3f468"
 :bing-limit 100
 :hostname "http://localhost"}
